*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#App {
  display: -ms-grid;
  display: grid;
  height: 100vh;
  -ms-grid-rows: 30px 70px 1fr 25px;
      grid-template-rows: 30px 70px 1fr 25px;
  -ms-grid-columns: 1fr 300px;
      grid-template-columns: 1fr 300px;
      grid-template-areas: "TitleArea       	TitleArea" "ToolBarArea   		ToolBarArea" "EditingArea     	PanelArea" "StatusBarArea      StatusBarArea";
}

#EditingArea {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: EditingArea;
  background-color: #f3f3f3;
  z-index: 0;
}

#EditingArea .grid {
  outline: 4px dotted rgba(255, 0, 0, 0.274);
  position: absolute;
  z-index: -1;
}

#TitleArea {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: TitleArea;
  background-color: #21252b;
  z-index: 10;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#TitleArea .menu {
  color: #f3f3f3;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin-left: 50px;
  margin-right: 50px;
}

#TitleArea .menu .container {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  height: 30px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 15px;
  padding-right: 15px;
}

#TitleArea .menu .container:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

#TitleArea .menu .selectedContainer {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  height: 30px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 15px;
  padding-right: 15px;
  background-color: whitesmoke;
  color: #21252b;
}

#TitleArea .menu .selectedContainer .subMenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  left: 50px;
  top: 30px;
}

#TitleArea .menu .selectedContainer .subMenu .subContainer {
  padding: 10px 60px 10px 25px;
  color: #21252b;
  background-color: whitesmoke;
}

#TitleArea .menu .selectedContainer .subMenu .subContainer:hover {
  color: whitesmoke;
  background-color: #768af8;
}

#TitleArea .menu .background {
  position: absolute;
  top: 30px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  background-color: rgba(0, 0, 0, 0.6);
}

#TitleArea .title {
  color: #f3f3f3;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin: 0;
  text-align: center;
  width: 100%;
}

#TitleArea .iconContainer {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-app-region: no-drag;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

#TitleArea .iconContainer img {
  width: 45px;
  padding-top: 10px;
  padding-bottom: 10px;
  height: 30px;
}

#TitleArea .iconContainer img:hover {
  background-color: #e04f5f;
}

#ToolBarArea {
  z-index: 10;
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: ToolBarArea;
  background-color: #181a1f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#ToolBarArea .tileButton {
  height: 70px;
  width: 70px;
  padding: 10px;
}

#ToolBarArea .tileButton div {
  height: 50px;
  width: 50px;
  border: none;
  background-color: transparent;
  border-radius: 8px;
  padding: 0;
}

#PanelArea {
  z-index: 10;
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: PanelArea;
  background-color: #181a1f;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  color: #f3f3f3;
}

#PanelArea .header {
  height: 25px;
}

#PanelArea .header h1 {
  height: 25px;
  text-align: center;
  font-size: 1em;
  margin: 0;
  background-color: #21252b;
  color: #f3f3f3;
}

#PanelArea .body h2 {
  margin: 8px;
  font-size: 0.8em;
  line-height: 20px;
}

#PanelArea .body p {
  margin: 8px;
  font-size: 0.7em;
  line-height: 20px;
}

#PanelArea .layer {
  background-color: #272729;
  height: 40px;
  margin: 10px;
  border-radius: 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#PanelArea .layer .text-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  height: 100%;
}

#PanelArea .layer .text-container .layerName {
  margin: 0;
  text-overflow: ellipsis;
  max-width: 200px;
  white-space: nowrap;
}

#PanelArea .layer img {
  margin: 5px;
  height: 70%;
}

#StatusBarArea {
  z-index: 10;
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: StatusBarArea;
  background-color: #111111;
}
/*# sourceMappingURL=index.css.map */