*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#App {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  width: 100vw;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#TitleArea {
  background-color: #21252b;
  z-index: 11;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#TitleArea .menu {
  color: #f3f3f3;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin-left: 50px;
  margin-right: 50px;
}

#TitleArea .menu .container {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  height: 30px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 15px;
  padding-right: 15px;
}

#TitleArea .menu .container:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

#TitleArea .menu .selectedContainer {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  height: 30px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: whitesmoke;
}

#TitleArea .menu .selectedContainer .name {
  color: #21252b;
  padding-left: 15px;
  padding-right: 15px;
}

#TitleArea .menu .selectedContainer .subMenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  left: inherit;
  top: 30px;
}

#TitleArea .menu .selectedContainer .subMenu .subContainer {
  padding: 10px 60px 10px 25px;
  color: #21252b;
  background-color: whitesmoke;
}

#TitleArea .menu .selectedContainer .subMenu .subContainer:hover {
  color: whitesmoke;
  background-color: #768af8;
}

#TitleArea .menu .background {
  position: absolute;
  top: 30px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  background-color: rgba(0, 0, 0, 0.6);
}

#TitleArea .title {
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #f3f3f3;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin: 0;
  text-align: center;
  width: 100%;
}

#TitleArea .iconContainer {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-app-region: no-drag;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

#TitleArea .iconContainer img {
  width: 45px;
  padding-top: 10px;
  padding-bottom: 10px;
  height: 30px;
}

#TitleArea .iconContainer img:hover {
  background-color: #e04f5f;
}

#ToolBarArea {
  z-index: 10;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  background-color: #181a1f;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#ToolBarArea .tileButton {
  height: 100%;
  padding: 10px;
}

#ToolBarArea .tileButton div {
  height: 50px;
  width: 50px;
  border: none;
  background-color: transparent;
  border-radius: 8px;
  padding: 0;
}

#MiddleArea {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  z-index: 0;
}

#MiddleArea #EditingArea {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  background-color: #f3f3f3;
  z-index: 0;
}

#MiddleArea #EditingArea .grid {
  outline: 4px dotted black;
  position: absolute;
  z-index: -1;
}

#MiddleArea .slider {
  z-index: 0;
  cursor: ew-resize;
  width: 5px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  background-color: #181a1f;
}

#MiddleArea .slider:hover {
  background-color: rgba(29, 55, 73, 0.883);
}

#MiddleArea #PanelArea {
  z-index: 10;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  background-color: #181a1f;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  color: #f3f3f3;
}

#MiddleArea #PanelArea .slider {
  z-index: 0;
  cursor: ns-resize;
  height: 4px;
  width: 100%;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  background-color: #181a1f;
}

#MiddleArea #PanelArea .slider:hover {
  background-color: rgba(87, 188, 255, 0.226);
}

#MiddleArea #PanelArea .propertiesPanel .body {
  padding: 20px;
}

#MiddleArea #PanelArea .propertiesPanel .body h2 {
  margin: 0;
  font-size: 0.8em;
  line-height: 20px;
}

#MiddleArea #PanelArea .propertiesPanel .body p {
  margin: 0;
  font-size: 0.7em;
  line-height: 20px;
}

#MiddleArea #PanelArea .header {
  height: 25px;
  text-align: center;
  font-size: 1em;
  margin: 0;
  background-color: #21252b;
  color: #f3f3f3;
}

#MiddleArea #PanelArea .layer {
  cursor: pointer;
  height: 40px;
  margin: 10px;
  border-radius: 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#MiddleArea #PanelArea .layer .text-container {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#MiddleArea #PanelArea .layer .text-container .layerName {
  margin: 0;
  text-overflow: ellipsis;
  max-width: 200px;
  white-space: nowrap;
}

#MiddleArea #PanelArea .layer img {
  margin: 5px;
  height: 70%;
}

#StatusBarArea {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  z-index: 10;
  height: 25px;
  background-color: #111111;
}
/*# sourceMappingURL=index.css.map */