*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#App {
  display: -ms-grid;
  display: grid;
  height: 100vh;
  -ms-grid-rows: 30px 70px 1fr 25px;
      grid-template-rows: 30px 70px 1fr 25px;
  -ms-grid-columns: 1fr 300px;
      grid-template-columns: 1fr 300px;
      grid-template-areas: "TitleArea       	TitleArea" "ToolBarArea   		ToolBarArea" "EditingArea     	PanelArea" "StatusBarArea      StatusBarArea";
}

#EditingArea {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: EditingArea;
  background-color: #f3f3f3;
}

#EditingArea div {
  z-index: -10;
}

#TitleArea {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: TitleArea;
  background-color: #21252b;
  z-index: 10;
  -webkit-app-region: drag;
}

#TitleArea .drag {
  position: absolute;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: TitleArea;
  -webkit-app-region: drag;
  padding: 3px 3px 3px 0;
}

#TitleArea .title {
  color: #f3f3f3;
  padding: 4px;
  margin: 0;
  text-align: center;
  width: 100%;
}

#TitleArea .iconContainer {
  position: absolute;
  height: 30px;
  right: 0;
  top: 0;
  width: 135px;
  -webkit-app-region: no-drag;
}

#TitleArea .iconContainer img {
  width: 45px;
  padding: 10px 17.5px 10px 17.5px;
  height: 30px;
}

#TitleArea .iconContainer img:hover {
  background-color: #e04f5f;
}

#ToolBarArea {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: ToolBarArea;
  background-color: #181a1f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#ToolBarArea .tileButton {
  height: 70px;
  width: 70px;
  padding: 10px;
}

#ToolBarArea .tileButton button {
  height: 50px;
  width: 50px;
  border: none;
  background-color: transparent;
  border-radius: 8px;
  -webkit-box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.2), 0px 0px 10px 3px rgba(253, 253, 253, 0.07) inset;
          box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.2), 0px 0px 10px 3px rgba(253, 253, 253, 0.07) inset;
  padding: 0;
}

#PanelArea {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: PanelArea;
  background-color: #181a1f;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  color: #f3f3f3;
}

#PanelArea .header {
  height: 25px;
}

#PanelArea .header h1 {
  height: 25px;
  text-align: center;
  font-size: 1em;
  margin: 0;
  background-color: #21252b;
  color: #f3f3f3;
}

#PanelArea .body h2 {
  margin: 8px;
  font-size: 0.8em;
  line-height: 20px;
}

#PanelArea .body p {
  margin: 8px;
  font-size: 0.7em;
  line-height: 20px;
}

#PanelArea .layer {
  background-color: #272729;
  height: 40px;
  margin: 10px;
  border-radius: 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#PanelArea .layer .text-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

#PanelArea .layer .text-container .layerName {
  margin: 0;
  text-overflow: ellipsis;
  max-width: 200px;
  white-space: nowrap;
}

#PanelArea .layer img {
  height: 80%;
}

#StatusBarArea {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: StatusBarArea;
  background-color: #111111;
}
/*# sourceMappingURL=index.css.map */